/* MAIN */
#logo { width:340px; height:60px; background:url(../images/logo.png) no-repeat; display:block; text-indent:-9999px; margin:5px 0; }

/* Menu */
.nav{ 
	margin: 35px 10px 0 0;
	display: block;
    float:left; 
    left: 0;
    position: relative;
}
.nav > li {
    float: left;
	margin-left: 0; 
	padding-left: 0; 
	line-height: 20px;
}
.nav > li > a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	 float: none;
    padding: 10px 15px;
    text-decoration: none;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:14px;
}

#inSearchText {
	border-radius: 30px;
	display: inline-block;
	height: 34px;
	color: #4D4C4D;
    font-weight: 900;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 17px;
	padding: 4px 8px;
	vertical-align: middle;
	width: 286px;
	
	background-color: white;
    border: 1px solid #49A0BD;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
	
	position: relative;
	
	 float: none;
    margin-left: 0;
	
	margin-bottom: 0 !important;
    margin-top: 0px !important;
	
	
}
.droppy {
  float:right;
  margin-top:27px;
}
.dropup, .dropdown {
  position:relative;
}
.btn {
    background: -moz-linear-gradient(center top , #94DEF5 5%, #94DEF5 100%) repeat scroll 0 0 #94DEF5;
	-webkit-box-shadow:#FFFFFF 0 1px 2px 0 inset;
	 background-image:-webkit-gradient(linear, 0 0%, 0 100%, color-stop(0.05, #94DEF5), to(#94DEF5));
    border: 1px solid #3F7C90;
	border-radius: 30px;
    color: #1D404B;
    font-size: 19px;
    height: 38px;
    margin-left: -45px;
    padding: 0;
    position: relative;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    top: 3px;
    width: 38px;
    z-index: 99999;
	
	font-family: arial;
    font-weight: bold;
	
	margin-bottom: 0 !important;
    margin-top: 20px !important;
	
	cursor: pointer;
	
	line-height: 20px;
    margin-bottom: 0;
	
    text-align: center;
}
.cart-area {
    float: left;
    margin-left: 20px;
    min-height: 1px;
    position: relative;
    width: 52px;
}
.crt-btn {
    height: 48px;
    margin-left: -5px;
    margin-top: 18px;
    padding: 8px 0;
    width: 52px;
}
.cart-area  .bsg-badge{
    background: none repeat scroll 0 0 #96C89F;
    border: 3px solid #2C2C2D;
    border-radius: 20px 20px 20px 20px;
    color: #26462B;
    height: 14px;
    line-height: 16px;
    margin: -20px -12px 0 0;
    padding: 3px 7px 4px;
    position: absolute;
    right: 4px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    top: 33px;
    z-index: 9999999;
}	
.bsg-btn {
    background: -moz-linear-gradient(center top , #94DEF5 5%, #94DEF5 100%) repeat scroll 0 0 #94DEF5;
	-webkit-box-shadow:#FFFFFF 0 1px 2px 0 inset;
 	  background-image:-webkit-gradient(linear, 0 0%, 0 100%, color-stop(0.05, #94DEF5), to(#94DEF5));
    border: 1px solid #3F7C90;
    border-radius: 30px;
    box-shadow: 0 1px 2px 0 #FFFFFF inset;
    color: #333333;
    display: inline-block;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
   /* padding: 11px 18px;*/
   	padding: 6px 9px;
    text-decoration: none;
    text-shadow: 0 0 0 #FFFFFF;
}
.dropdown-menu.pull-right {
  left:auto;
  right:0;
}

.pull-right {
  float:right;
}

.dropdown-menu {
  -webkit-background-clip:padding-box;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 5px 10px;
  background-clip:padding-box;
  background-color:#FFFFFF;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  box-shadow:rgba(0, 0, 0, 0.2) 0 5px 10px;
  
  display:none;
  float:left;
  left:0;
  list-style:none;
  margin:2px 0 0;
  min-width:160px;
  padding:5px 0;
  position:absolute;
  top:100%;
  z-index:1000;
}
.dropdown-menu ul li {line-height:20px;}
.dropdown-menu li > a {
  clear:both;
  color:#333333;
  display:block;
  font-weight:normal;
  line-height:20px;
  padding:3px 20px;
  white-space:nowrap;
}
.dropdown-toggle:active, .open .dropdown-toggle {
    outline: 0 none;
}
.nav > li.dropdown.open.active > a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #333333;
  text-decoration: none;
  outline: 0;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999999;
}
.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: default;
}
.open {
  *z-index: 1000;
}
.open  > .dropdown-menu {
  display: block;
}
.dropdown-menu .divider {
    background-color: #E5E5E5;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
}
#header {/*position:relative; z-index:9999; background: url(../images/headerBkgd.jpg); border-bottom: 1px solid #48a0c0; border-top: none; margin-top:0px;*/position:relative; z-index:9999;background: url("../images/classy_fabric.png") repeat scroll 0 0 transparent !important;
    border-bottom: 2px none #000000;margin-top:0px; height:86px;
    border-color: #000000;}

.brand{
	color: #777777;
    display: block;
    float: left;
    font-size: 17px;
    font-weight: 200;
    margin-left: -20px;
    padding: 10px 20px;
    text-shadow: 0 1px 0 #FFFFFF;
}	
#header .shadow-down {position:absolute; z-index: 9999; width:100%; height:20px; bottom:-20px; left:0; margin-left:0px; background:url(../images/shadow-under.png) repeat-x;}
#header ul.menu {float:right; margin:3px 0 0 0;}
#header ul.menu li {float:left; margin-left:8px; padding-left:8px; background:url(../images/menu-separator.png) no-repeat left center; }
#header ul.menu li:first-child {margin-left:0; padding-left:0; background:none;}
#header ul.menu li a {font:11px/1 'Helvetica Neue', Helvetica, sans-serif; color:#fff; padding:28px 5px; display:block; text-transform:uppercase; text-shadow: none; font-weight: bold;}
#header ul.menu li a.rentBookNav {background:#000;padding: 10px;margin-top:18px; -webkit-border-radius: 2px; -moz-border-radius:  2px; border-radius: 2px ;}
#header ul.menu li a:hover, #header ul.menu li.active a {opacity:1; filter:alpha(opacity=100);}
#header ul.menu li .hover-mask {}
#header ul.menu ul { background: #fff; margin-top:0px; }
#header ul.menu ul li {margin:0; padding:0; background:none;}
#header ul.menu ul li a { font:12px/1  Arial, Helvetica, sans-serif; color:#222; padding:11px 10px; text-transform:none; display:block; margin:0 4px; border-top:1px solid #ccc; opacity:1; filter:alpha(opacity=100); }
#header ul.menu ul li a:hover { color:#5b778a;}
#header ul.menu ul li:first-child > a {border-top:none;}
#header ul.menu li a > .sf-sub-indicator {top:3.6em !important; left:50%; margin-left:-5px; right:auto !important;}
#header ul.menu li li a > .sf-sub-indicator {top:50% !important; margin-top:-5px; left:95% !important;}
#header .sf-menu > li:hover > ul,
#header .sf-menu > li.sfHover > ul { top:5.9em;}

/* Selections */
::-moz-selection { color: #fff !important; background: #5b778a; }
::selection { color: #fff !important; background: #5b778a; }

/* Forms */
.form-preset input[type=text], .form-preset input[type=password] {width:100%;}
input.searchbook {
	width: 770px;
	height:36px;
	float: left;
	border: 1px solid #AAC0C0;
	outline: none;
	margin-right: 10px;
	font: 18px Arial, Helvetica, sans-serif;
	color: #44A1C1;
	-webkit-border-radius: 2px; -moz-border-radius:  2px; border-radius: 2px ;
	line-height:37px!important;
}
input.searchbook:focus, input.searchbook:active{ -moz-box-shadow: 0 0 3px #5e7379;-webkit-box-shadow: 0 0 3px #5e7379; box-shadow: 0 0 3px #5e7379; border: 1px solid #7d969d; }
input.booksubmit {
	width:144px;
	height:53px;
	margin-top: 0px;
	cursor: pointer;
	float: left;
	display: inline-block;
	background-color: #339bb9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
	background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
	background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
	background-image: linear-gradient(top, #5bc0de, #339bb9);
	padding: 6px 14px 6px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
	font-size: 18px;
	line-height: normal;
	border: 1px solid #ccc;
	border-color: #339bb9 #339bb9 #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 2px; -moz-border-radius:  2px; border-radius: 2px ;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
}
.left-col {
	width: 720px;
	float: left;
	margin: 25px 0;

}
.summary {

		width: 200px;
		float: right;
		border: solid 1px #d4b836;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		-moz-border-radius: 5px;
	}
	
	.summary h3 {
		display: block;
		background: url(../images/cartBg.jpg) repeat-x center bottom;
		color: #3c3a30;
		font-size: 15px;
		font-weight: bold;
		line-height: 15px;
		padding: 13px 0;
		text-align: center;
		border-top-left-radius: 2px;
		-webkit-border-top-left-radius: 2px;
		-khtml-border-top-left-radius: 2px;
		-moz-border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		-webkit-border-top-right-radius: 2px;
		-khtml-border-top-right-radius: 2px;
		-moz-border-top-right-radius: 2px;
		border-bottom: solid 1px #d4b836;
	}
	
	.summary p {
		background: #f2ecc7;
		padding: 10px;
		border-bottom: solid 1px #cfc9a4;
		font-size: 12px;
		font-weight: bold;
		color: #8b876e;
		overflow: hidden;
	}
	
	.summary p strong {
		float: right;
		font-size: 14px;
		color: #484634;
	}
	
	.summary .footerme {
		overflow: hidden;
		height: 64px;
	}
	
	.summary .footerme small {
		font-size: 12px;
		color: #7e756c;
		display: block;
		margin: 10px 0px 2px 10px;
	}
	
	.summary .footerme strong {
		color: #ff2a00;
		font-weight: bold;
		font-size: 16px;
		margin: 0px 0px 10px 10px;
	}
	
	.summary .footerme a {
		width: 120px;
		display: block;
		padding: 13px 0;
		float: right;
		text-align: center;
		text-decoration: none;
		font-size: 15px;
		font-weight: bold;
		line-height: 15px;
		color: #fff;
		text-shadow: 0px -1px 0px #5baf00;
		border: solid 1px #5baf00;
		border-radius: 5px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		-moz-border-radius: 2px;
		background: url(../images/actionBg.jpg) repeat-x center top;
		margin-right: 10px;
		margin-top: -20px;
	}
		
	.summary .footerme a:hover {
		background: url(../images/actionBg.jpg) repeat-x center center;
	}
	
	.summary .footerme a:active {
		background: url(../images/actionBg.jpg) repeat-x center bottom;
	}







.table .head .check {
	border-right: solid 1px #808b90;
	text-align: center;
	padding: 15px 0;
}

.table .head a.remove {
	font-size: 14px;
	font-weight: bold;
	color: #333f45;
	float: left;
	line-height: 14px;
	margin: 14px 0px 0px 15px;
}

.table .book {
	background: #fff;
	border-bottom: solid 1px #bad1da;
}

.table .book .check {
	background: #fff3ce;
	text-align: center;
	padding: 28px 0;
}

.table .book .cover {
	text-align: center;
	padding: 7px 0px 0px 0px;
}

.table .book .title {
	padding: 17px;
	font-style: italic;
	color: #9da7ac;
	width: 260px;
	font-size: 13px;
}

.table .book .title strong {
	color: #212225;
	font-size: 15px;
	display: block;
	font-weight: bold;
}

.table .book .cover strong {
	display: block;
	position: absolute;
	background: #ff3721;
	font-size: 10px;
	color: #fff;
	display: block;
	font-family: Verdana;
	width: 20px;
	padding: 4px 0;
	margin: -65px 0px 0px 35px;
	border: solid 1px #ad1313;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	-moz-border-radius: 30px;
}

.table .book .new, .table .book .used {
	font-size: 14px;
	font-weight: bold;
	color: #212225;
	padding: 10px;
	width: 100px;
}

.table .book .new input, .table .book .used input {
	width: 50px;
	border: solid 1px #bad1da;
	border-radius: 5px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	background: #ecf6fb;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #77868e;
	line-height: 16px;
	padding: 14px 0;
	margin-right: 10px;
}

.table .book .price {
	color: #ed6a23;
	font-size: 20px;
	font-weight: bold;
	padding: 25px;
	width: 40px;
	line-height: 20px;
}

.table .check {
	width: 30px;
	float: left;
}

.table .cover {
	width: 60px;
	float: left;
}

.table .title {
	width: 320px;
	float: left;
}

.table .used, .table .new {
	width: 110px;
	float: left;
}

.table .price {
	width: 90px;
	float: left;
}
ul.trustlist{
	font: 12px 'Arimo', Helvetica, Arial, Sans-serif;
	margin: 0 0 20px 20px;
	line-height: 22px;
}

ul.trustlist li{
	list-style: inside disc;
}

ul.trustlist span{
	font-style: italic;
	list-style: inside disc;
}
p span.wepractice{
	font: 12px 'Arimo', Helvetica, Arial, Sans-serif;
	font-style: italic;
	font-weight: bold;
}
.stepThree {
	background: #ecf6fb;
	border: solid 1px #bad1da;
}

.stepThree h2 {
	font-size: 25px;
	font-weight: bold;
	color: #333f45;
	width: 450px;
	float: left;
	margin: 30px 25px;
}

.stepThree .action {
	margin: 25px 25px 25px 0;
	cursor: pointer;
	float: right;
	display: inline-block;
	background-color: #339bb9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
	background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
	background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
	background-image: linear-gradient(top, #5bc0de, #339bb9);
	padding: 6px 14px 6px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
	font-size: 18px;
	line-height: normal;
	border: 1px solid #ccc;
	border-color: #339bb9 #339bb9 #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 2px; -moz-border-radius:  2px; border-radius: 2px ;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
}

.stepThree .action:hover {
	-moz-box-shadow: 0 0 3px #5e7379;-webkit-box-shadow: 0 0 3px #5e7379; box-shadow: 0 0 3px #5e7379; border: 1px solid #7d969d;
}

.stepThree .action:active {
	-moz-box-shadow: 0 0 3px #5e7379;-webkit-box-shadow: 0 0 3px #5e7379; box-shadow: 0 0 3px #5e7379; border: 1px solid #7d969d;
}

.table .head .check {
	border-right: solid 1px #808b90;
	text-align: center;
	padding: 15px 0;
}

.table .head a.remove {
	font-size: 14px;
	font-weight: bold;
	color: #333f45;
	float: left;
	line-height: 14px;
	margin: 12px;
}

.table .book {
	background: #fff;
	border-bottom: solid 1px #bad1da;
}

.table .book .check {
	background: #fff3ce;
	text-align: center;
	padding: 28px 0;
}

.table .book .cover {
	text-align: center;
	padding: 12px;
}

.table .book .title {
	padding: 17px;
	font-style: italic;
	color: #9da7ac;
	width: 260px;
	font-size: 13px;
}

.table .book .title strong {
	color: #212225;
	font-size: 15px;
	display: block;
	font-weight: bold;
}

.table .book .cover strong {
	display: block;
	position: absolute;
	background: #ff3721;
	font-size: 10px;
	color: #fff;
	display: block;
	font-family: Verdana;
	width: 20px;
	padding: 4px 0;
	margin: -65px 0px 0px 35px;
	border: solid 1px #ad1313;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	-moz-border-radius: 30px;
}

.table .book .new, .table .book .used {
	font-size: 14px;
	font-weight: bold;
	color: #212225;
	/*padding: 10px;*/
	padding: 7px;
	width: 100px;
}

.table .book .new input, .table .book .used input {
	width: 50px;
	border: solid 1px #bad1da;
	border-radius: 5px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	background: #ecf6fb;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #77868e;
	line-height: 16px;
	padding: 14px 0;
	margin-right: 10px;
}

.table .book .price {
	color: #ed6a23;
	font-size: 18px;
	font-weight: bold;
	padding: 25px;
	width: 63px;
	line-height: 20px;
}

.table .check {
	width: 30px;
	float: left;
}

.table .cover {
	width: 60px;
	float: left;
}

.table .title {
	width: 280px;
	float: left;
}

.table .used, .table .new {
	width: 110px;
	float: left;
}

.table .price {
	width: 70px;
	float: left;
}

.stepThree .footer-secondary {
	border-bottom: solid 1px #bad1da;
	padding-bottom: 0px;
	width: 720px;
}

.stepThree .footer-secondary .check {
	padding: 0px;
	border-left: none;
	padding: 20px 0px;
}

.stepThree .footer-secondary .cover {
	width: 60px;
}

.stepThree .footer-secondary .title {
	width: 280px;
}

.stepThree .footer-secondary .new, .footer-secondary .used {
	width: 100px;
}

.footer-secondary .cover, .footer-secondary .title, .footer-secondary .used, .footer-secondary .new, .footer-secondary .price {
	border-left: solid 1px #bad1da;
	color: #7f929c;
	font-size: 14px;
	font-weight: bold;
	padding: 11px;
}

.footer-secondary div strong {
	color: #333f45;
	font-size: 16px;
	font-weight: bold;
	display: block;
	line-height: 18px;
}

.footer-secondary .price {
	width: 30px;
	padding: 20px 15px;
}
.right-col {
	width: 200px;
	margin: 70px 0;
	float: right;
}

.right-col strong {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #333f45;
	margin-bottom: 10px;
}

.right-col p {
	margin: 10px 0;
	font-size: 13px;
	color: #418eb4;
}



#YouLost{
	background:#000;height:100px;width:722px; margin:0 0 20px 0; border-radius: 2px; -khtml-border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;float:left;
}

#YouLost .YouLostTop{
	background:url(../images/challengeTop.jpg);height:48px;margin: 0;padding: 0;
}

#YouLost .YouLostBottom{
	background:url(../images/challengeBottom.jpg);height:26px;width:227px;margin: 0;padding: 15px 25px 12px 470px;
}

#YouLost .YouLostBottom .bottomTweet{
	width: 80px;
	margin-right: 20px;
	float: left;
}

#YouLost .YouLostBottom .bottomFb{
	width: 110px;
	float: left;
}




#YouWon{
	background:#000;height:100px;margin:0 0 0 20px; border-radius: 2px; -khtml-border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}

#YouWon .YouWonTop{
	background:url(../images/challengeTop.jpg);height:48px;
}

#YouWon .YouWonBottom{
	background:url(../images/challengeBottom.jpg);height:48px;
}


