#mainForm{
	background-image: url(../images/form_bg.png);
	text-align: left;
	width: 632px;
	height: 310px;
	float: left;
	padding-left: 160px;
	padding-top: 25px;
	margin-left: 160px;
	margin-top: 30px;
	color: #308ad7;
}
.bigForm{
	background-image: url(../images/form_bg_big.png);
	text-align: left;
	width: 632px;
	height: 455px;
	float: left;
	padding-left: 160px;
	padding-top: 25px;
	margin-left: 160px;
	margin-top: 30px;
	color: #308ad7;
}
#secondaryForm{
	background-image: url(../images/appointment_form_bg.png);
	text-align: left;
	width: 632px;
	height: 362px;
	float: left;
	padding-left: 160px;
	padding-top: 25px;
	margin-left: 160px;
	margin-top: 30px;
	color: #308ad7;
}
#submit_btn{
	margin-left: 200px;
}
.afterInput{
	font-size: 19px;
	font-family: Arial;
	position: relative;
	top: 11px;
}
label, input[type="text"]{
     float:left;
     display:block;
 }
 label{
     margin-right: 5px;
	 font-family: Arial;
}
 .field{
	 width:100%;
	 overflow:auto;
	 margin:5px 0px;
}
 #mask {
	position:absolute;
	z-index:9000;
	background-color:#000;
	display:none;
}
#successDialog{
	width: 200px;
	height: 200px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,  
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,  
tfoot, thead, tr, th, td {  
border:0pt none;  
font-family:inherit;  
font-size:100%;  
font-style:inherit;  
font-weight:inherit;  
margin:0pt;  
padding:0pt;  
vertical-align:baseline;  
}  
body{  
background:#fff none repeat scroll 0%;  
line-height:1;  
font-size: 12px;  
font-family:arial,sans-serif;  
margin:0pt;  
height:100%;  
}  
table {  
border-collapse:separate;  
border-spacing:0pt;  
}  
caption, th, td {  
font-weight:normal;  
text-align:left;  
}  
blockquote:before, blockquote:after, q:before, q:after {  
content:"";  
}  
blockquote, q {  
quotes:"" "";  
}  
a{  
cursor: pointer;  
text-decoration:none;  
}  
br.both{  
clear:both;  
}  
#backgroundPopup{  
display:none;  
position:fixed;  
_position:absolute; /* hack for internet explorer 6*/  
height:100%;  
width:100%;  
top:0;  
left:0;  
background:#000000;  
border:1px solid #cecece;  
z-index:1;  
}  
#popupContact{  
display:none;  
position:fixed;  
_position:absolute; /* hack for internet explorer 6*/  
height:100px;  
width:360px;  
background:#FFFFFF;  
border:2px solid #cecece;  
z-index:2;  
padding:12px;  
font-size:13px;  
}  
#popupContact h1{  
text-align:left;  
color:#6FA5FD;  
font-size:22px;  
font-weight:700;  
border-bottom:1px dotted #D3D3D3;  
padding-bottom:2px;  
margin-bottom:20px;  
}  
#popupContactClose{  
font-size:14px;  
line-height:14px;  
right:6px;  
top:4px;  
position:absolute;  
color:#6fa5fd;  
font-weight:700;  
display:block;  
}  
#button{  
text-align:center;  
margin:100px;  
} 
#search{
	width: 630px;
	height: 53px;
}
#search_item{
	margin-left: 50px;
	margin-top: 40px;
}
#formTitle{
	font-family: Arial;
	font-size: 20px;
	margin-left: 125px;
	position: relative;
	top: -5px;
	margin-bottom: 5px;
	font-weight: bold;
}
#formInfo{
	margin-left: 20px;
	margin-bottom: 5px;
}
#footer{
	position: relative;
	top: 30px;
}
.formInput{
	color: #308ad7;
}

#formData{
	margin-left: 60px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }