  	/* trigger button */
.comparePrices {
	background:transparent url(../images/ttgButton.jpg) no-repeat scroll 0 0;
	display:block;
	height:45px;
	overflow:hidden;
	text-indent:-999em;
	width:150px;
	cursor:pointer;
	float: left;
	margin: 10px 20px 0 0;
}

/* tooltip styling */
.tooltip {
	display:none;
	background:url(../images/cloud.png);
	height:90px;
	padding:10px 20px 0 20px;
	width:560px;
	font-size:11px;
	color:#fff;
	z-index: 100;
}

.tooltip .compare{
	width: 560px;
	height: 90px;
	padding-top: 12px;
	float: left;
	display: inline;
}

.tooltip .compare .compareCo{
	width: 185px;
	height: 40px;
	float: left;
	display: inline;
}

.tooltip .compare .compareCo img{
	width: 120px;
	height: 40px;
	display: inline;
	margin: 5px 0 0 0;
	border: none;
}

.tooltip .compare .compareCo p{
	background-color:#6dbad7;
	border-width:2px;
	border-color:transparent;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin: 12px 0 0 10px;
	padding: 5px;
	float: left;
	
}

.tooltip img{
	float: left;
	margin: 0;
}

/* a .label element inside tooltip */
.tooltip .price {
	color:#444;
	width:35px;
	
}
